In [1]:
%load_ext sql

In [4]:
import configparser
import psycopg2

config = configparser.ConfigParser()
config.read('../dwh.cfg')

ENDPOINT           = config.get("OTHER","ENDPOINT")
DB                 = config.get("CLUSTER","DB_NAME")
DB_USER            = config.get("CLUSTER","DB_USER")
DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
PORT               = config.get("CLUSTER","DB_PORT")
ZONE               = config.get("PARAMS","ZONE")

LOG_DATA           = config.get("S3","LOG_DATA")
LOG_JSONPATH       = config.get("S3","LOG_JSONPATH")
SONG_DATA          = config.get("S3","SONG_DATA")
ANR                = config.get("OTHER","ARN")

In [3]:
region 'us-west-2'

SyntaxError: invalid syntax (<ipython-input-3-f646f04cf19e>, line 1)

In [5]:
conn_string=f"postgresql://{DB_USER}:{DB_PASSWORD}@{ENDPOINT}:{PORT}/{DB}"
%sql $conn_string

In [ ]:
staging_songs_copy = (f"""
    copy songs_staging from '{SONG_DATA}'
    credentials 'aws_iam_role={ANR}'
    json 'auto'
    region '{ZONE}';
""")
cur.execute(staging_songs_copy)

In [67]:
%%sql

Select s.title, a.listend_times
FROM (SELECT song_id, count(song_id) as  listend_times  
    FROM songplays p
    GROUP BY song_id 
    ORDER BY 2 desc
    LIMIT 1) a
LEFT JOIN songs s
ON a.song_id = s.song_id

 * postgresql://ucaityuser:***@udacitycluster.crqztkqnczh2.us-west-2.redshift.amazonaws.com:5439/musicserver
1 rows affected.

[("You're The One", 37)]

In [70]:
%%sql

Select b.user_id, u.first_name ||  u.last_name as name_Surname, b.activity
FROM (SELECT user_id, count(user_id) as activity  
        FROM songplays 
        GROUP BY user_id 
        ORDER BY 2 desc
        LIMIT 10) b
LEFT JOIN users u
ON u.user_id = b.user_id
order by 3 desc

 * postgresql://ucaityuser:***@udacitycluster.crqztkqnczh2.us-west-2.redshift.amazonaws.com:5439/musicserver
10 rows affected.

[(49, 'ChloeCuevas', 772),
 (80, 'TeganLevine', 740),
 (97, 'KateHarrell', 595),
 (15, 'LilyKoch', 495),
 (44, 'AleenaKirby', 439),
 (29, 'JacquelineLynch', 381),
 (24, 'LaylaGriffin', 349),
 (88, 'MohammadRodriguez', 312),
 (73, 'JacobKlein', 305),
 (36, 'MatthewJones', 280)]